*{
    margin: 0;
    padding: 0;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 440px;
}
.navbar h3{
    color: #3A3A3A;
    font-size: 1.25rem;
    
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    
}

.nav-menu a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.main-camera{
    max-width: 440px;
    margin: 0 auto;
}
header{
    background: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: 930px 50px ;
}
.header-content{
    max-width: 580px;
    margin: 0 auto;
}
.header-content h1{
    font-size: 3.25rem;
    color: #3A3A3A;
    margin-bottom: 10px;
    font-weight: bold;
}
.header-content p{
    color: #3A3A3A;
    margin-bottom: 20px;
    max-width: 500px;
    font-weight: 600;
}
.btn{
    padding: 10px 30px 10px 24px ;
    background-color: #E02C6D;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.logo-container{
    display: grid;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 150px;
    grid-template-columns: repeat(7,1fr);
    
}
.collection{
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 100px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.collection h2{
    margin-bottom: 50px;
    text-align: center;
    color: #3A3A3A;
}
.card-info{
    border-radius: 2px;
    box-shadow: 0 20px 30px 0 #00000041;
    padding: 10px;
}

.card-info h4{
    font-size: 1.5rem;
    color: #3A3A3A;
    margin-bottom: 10px;
}
.card-info h5{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    margin-bottom: 10px;
}
.card-info p{
    color: #787885;
    max-width: 150px;
    font-size: .9rem;
}
.btn-2{
    margin-top: 50px;
    margin-left: 950px;
    margin-bottom: 20px;
    background: none;
    border: none;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
footer{
    background-color: rgb(4, 4, 35);   
}
.footer-details{
    padding: 50px;
    text-align: center;
}
.footer-details h2{
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-details p{
    color: #D9DBE1;
    margin-bottom: 5px;
}
.footer-details img{
    margin-top: 10px;
    margin-right: 20px;
}
@media screen and (max-width:576px) {
    .navbar,.nav-menu {
        flex-direction: column;
    }
   .navbar h3{
    text-align: center;
   }
    .nav-menu{
        margin-top: -400px;
    }
    .container{
        flex-direction: column-reverse;
    }
    .header-content{
        text-align: center;
        margin-left: 20px;
    }

    .logo-container{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 30px;
    }

   .card-container{
    grid-template-columns: repeat(1,1fr);
    
   }
   .card-info{
    margin: 5px;
    padding: 10px;
   }
   .card-info img{
    width: 100%;
   }
   .btn-2{
    margin-left: 300px;
    margin-bottom: 30px;
   }
}