*{
    margin: 0;
    padding: 0;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.navbar h3{
    color: #3A3A3A;
    font-size: 1.25rem;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
}


@media screen and (max-width:576px) {
    .navbar,.nav-menu {
        flex-direction: column;
    }
   .navbar h3{
    text-align: center;
   }
    .nav-menu{
        margin-top: 20px;
    }
}