*{
    margin: 0;
    padding: 0;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 440px;
}
.navbar h3{
    color: #3A3A3A;
    font-size: 1.25rem;
    
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    
}

.nav-menu a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.main-camera{
    max-width: 440px;
    margin: 0 auto;
}
header{
    background: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: 930px 50px ;
}
.header-content{
    max-width: 580px;
    margin: 0 auto;
}
.header-content h1{
    font-size: 3.25rem;
    color: #3A3A3A;
    margin-bottom: 10px;
    font-weight: bold;
}
.header-content p{
    color: #3A3A3A;
    margin-bottom: 20px;
    max-width: 500px;
    font-weight: 600;
}
.btn{
    padding: 10px 30px 10px 24px ;
    background-color: #E02C6D;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}
.logo-container{
    display: grid;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 150px;
    grid-template-columns: repeat(7,1fr);
    
}
@media screen and (max-width:576px) {
    .navbar,.nav-menu {
        flex-direction: column;
    }
   .navbar h3{
    text-align: center;
   }
    .nav-menu{
        margin-top: -400px;
    }
    .container{
        flex-direction: column-reverse;
    }
    .header-content{
        text-align: center;
        margin-left: 20px;
    }

    .logo-container{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 30px;
    }
   
}